CI=true
CI_ENVIRONMENT=production
ENVIRONMENT=testing
app.baseURL='http://localhost/'
app.enableKint=false
encryption.key='0123456789abcdef0123456789abcdef'

database.default.DBDriver=SQLite3
database.default.database='writable/ci.sqlite'
database.default.DBPrefix=''
database.default.port=0

email.fromEmail='ci@example.com'
email.fromName='CI Runner'
mail.protocol='log'

MYMI_DISABLE_EXTERNAL=1

CI_OPTIMIZE_AUTOLOADER=false

CI_CACHE_CONFIG=false

CI_LOCATOR_CACHE_ENABLED=false
